*, *::after, *::before {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body .body {
    background: rgb(0, 255, 242);
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -130px;
}
/*
.button {
    justify-content: center;
    align-items: center;
    text-align: center;
}
*/
p {
    text-align: center;
    font-size: 50px;
    position: relative;
    top: -40px;
    z-index: 10;
}
body {
    background-color: rgb(0, 255, 242);
    overflow: hidden;
}

.clock {
    width: 300px;
    height: 300px;
    background-color: blue;

    /*border radius makes the square into a circle */
    border-radius: 50%;
    
    border: 2px solid black;
    position: relative;
}

.clock .num {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    color: rgb(169, 247, 247);
}

.clock .number1 {transform: rotate(30deg);}
.clock .number2 {transform: rotate(60deg);}
.clock .number3 {transform: rotate(90deg);}
.clock .number4 {transform: rotate(120deg);}
.clock .number5 {transform: rotate(150deg);}
.clock .number6 {transform: rotate(180deg);}
.clock .number7 {transform: rotate(210deg);}
.clock .number8 {transform: rotate(240deg);}
.clock .number9 {transform: rotate(270deg);}
.clock .number10 {transform: rotate(300deg);}
.clock .number11 {transform: rotate(330deg);}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 45%;
    background-color: rgb(183, 182, 206);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;

    /* z-index specifies stack order. the higher the index, the higher priority it gets in the stack */
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg))
}

.clock .hand.second {
    width: 3px;
    height: 50%;
    background-color: chocolate;
    transform-origin: bottom;
}

.clock .hand.minute {
    width: 5px;
    height: 43%;
    background-color: orange;
    transform-origin: bottom;
}

.clock .hand.hour {
    width: 10px;
    height: 35%;
    background-color: green;
    transform-origin: bottom;
}

/* ::after is a pseudo element used for addiing a last child to the selected element, .clock */

.clock::after {
    content: '';
    position: absolute;
    background-color: hotpink;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}